.Main {
    color: blue;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.sec {
    color: rgb(255, 00, 00);
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.third {
    color: orangered;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.four {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

h2.container{
    text-align: center;
}

ul.myul {
    display: inline-block;
    text-align: left;
}

.five:hover {
    color: rgb(244, 13, 233);
    font-family: Arial, Helvetica, sans-serif;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}